body {
    background: #eee;
}

.bg-primary {
    background-color: #007bff !important;
}

.text-white h1, .text-white p {
    color: #fff;
}

.card {
    border: none;
    border-radius: 0.5rem;
}

.card-body {
    padding: 2rem;
}

.text-primary {
    color: #007bff !important;
}

.text-primary:hover {
    color: #0056b3 !important;
    text-decoration: none;
}

.input-group .form-control {
    border-right: none;
}

.input-group-text {
    background-color: transparent;
    border-left: none;
    cursor: pointer;
}

.divider {
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

.custom-border {
    border: 1px solid #bbbbbb; /* Adjust the color as needed */
    border-radius: 0.375rem;   /* Adjust the border radius as needed */
}

.custom-border:focus {
    border-color: #0056b3;     /* Darker border color on focus */
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25); /* Adjust the shadow color as needed */
}

/* Custom CSS for progress bar */
.progress {
    height: 5px !important;
    margin-bottom: 20px;
}

.progress-bar {
    width: 0%;
    transition: width 0.3s ease;
}

.progress-bar.complete {
    background-color: green !important;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

.form-navigation {
    margin-top: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /*border-bottom: 2px solid #ccc;*/
    margin-bottom: 20px;
}
.header .center-text {
    text-align: center;
    flex-grow: 1;
}

.header .center-text p, 
.header .center-text h2,
.header .center-text h3 {
    margin: 0;
    font-size: 1.0em;
    font-weight: bold;
}
.section-divider {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 2px solid #000000;
}

.section-title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

.sub-section {
    position: relative;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
}
.sub-section-title {
    position: absolute;
    top: -20px;
    left: 10px;
    background-color: white;
    padding: 0 10px;
    font-weight: bold;
    font-size: 1.0em;
}

.form-container {
    margin-top: 10px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 25px;
    margin-bottom: 50px;
    border: 1px solid #aaa;
}

.icon-large {
    font-size: 1.5rem; /* Adjust as needed */
    margin-left: 5px;
}

